<h1>
  Log in
</h1>

<input id="email" type="email"/>
<input id="password" type="password"/>
<input id="login" type="submit" value="Log in"/>
<input id="logout" type="submit" value="Log out"/>
<h1>
  Get posts
</h1>

<input id="get-posts" type="submit" value="Click"/>

<h1>
  Response
</h1>
<pre id="response">
</pre>
